<html>
    <head>
        <title>Vegetarianism by Skyler and Marin</title>
        <link rel="stylesheet" href="static/assets/css/main.css" />

        <link rel="stylesheet" href="static/article.css" />
    </head>
    <body>
        <nav id="nav">
							<ul>
								<li class="current"><a href='/'>Home</a></li>
								<li>
									<a href="#">Quizzes</a>
									<ul>
										<li><a href='/quiz1'>What will it take?</a></li>
										</li>
									</ul>
								</li>
								<li><a href="/article">Animals</a></li>
							</ul>
						</nav>
        <div class="wrapper2">
            <p class="chickens">Chickens are the most abused animal in America. Male chicks are often ground up alive to provide food for other farm animals, and female chicks are debeaked with a hot blade so they cannot peck the 5000 other chickens they are imprisoned with. In order to trick chickens into laying more than 150 eggs than usual per year, chickens are forced to undergo force molting, in whcih they are starved for two weeks whcih tricks their body into an egg laying cycle. They are forced to grow rapidly, causing their spine to buckle under its unnatural weight. Most chickens are killed after just 42 days.</p>
            <p class="cows">Cows undergo a fattening diet to bring them to market weight while they are still young. Male calves are brutally castrated as this is thought to improve meat quality.</p>
            <p class="pigs">Pigs, intelligent and curious animals, are subjected to cages only slightly larger than their bodies. This arrangement leads to lameness, anxiety, and respiratory disease.</p>
            <p class="turkeys">From the moment turkeys are hatched, they are treated to grow to three times the size of their wild counterparts in only 4 months. This unnatural arrangement results in heart disease and crippling leg diseases. A single worker can be responsible for up to 30,000 birds.</p>
            <div class="chickpic"></div>
            <div class="cowpic"></div>
            <div class="pigpic"></div>
            <div class="turkpic"></div>

            
        </div>

    </body>
</html>