<html>
	<head>
		<title>Vegetarianism by Skyler and Marin</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<!-- Logo -->
					<!--	<h1><a href="index.html">Vegetarianism</a></h1>-->

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href='/'>Home</a></li>
								<li>
									<a href="#">Quizzes</a>
									<ul>
										<li><a href='/quiz1'>What will it take?</a></li>
										</li>
									</ul>
								</li>
								<li><a href="/article">Animals</a></li>
							</ul>
						</nav>
						
				<!--<section id="main">-->
					<div class="container">
						<div class="row">
							<div class="col-12" style="width:100%">
								<p>This quiz will assess how difficult it will be for you to become vegetarian. Please answer these questions as truthfully as you can.</p>
								<form method='POST' action='/results1'>
									<div class="question">
										<p>On average, how frequently do you eat meat?</p>
										<input type="radio" name="frequency" value="3"> Once a week<br>
										<input type="radio" name="frequency" value="2"> 2-4 Times a week<br>
										<input type="radio" name="frequency" value="1"> Almost every day <br>
										<input type="radio" name="frequency" value="4"> I don't eat meat. <br>
										<br>
										<br>
									</div>
									<div class="question">
										<p>On a scale of 1-10, how strong do think your self will/self control is?</p>
										<input type="text" name="will">
									<br>
									</div>
									<input type="submit" value="Submit"/>
								</form>
                            </div>
						</div>
					</div>
				<!--</section>-->
				
				
				
    </div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.dropotron.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>