<html>
	<head>
		<title>Vegetarianism by Skyler and Marin</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<!-- Logo -->
					<!--	<h1><a href="index.html">Vegetarianism</a></h1>-->

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href='/'>Home</a></li>
								<li>
									<a href="#">Quizzes</a>
									<ul>
										<li><a href='/quiz1'>What will it take?</a></li>
										<li><a href='/quiz2'>Your Preferences</a></li>
										</li>
									</ul>
								</li>
							</ul>
						</nav>
						
				<section id="main">
					<div class="container">
						<div class="row">
							<div class="col-12">

                            </div>
						</div>
					</div>
				</section>
				
				
				
    </div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.dropotron.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>