<html>
    <head>
        <title>Vegetarianism by Skyler and Marin</title>
        <link rel="stylesheet" href="static/styles.css" />
    </head>
    <body>
        <div id="wrapper">
            <div id = "level">
                <p>You are on level</p>
            </div>
            <div id = "level2">
                <p>{{level}}</p>
            </div>
            <div id = "gg">
                <p>{{genexp}}</p>
            </div>
            <div id = "ffff">
                <p>{{frequ}}</p>
            </div>
            <div id="wwww">
                <p>{{selfwww}}</p>
            </div>
            <div id="image1">
                <img id="image2" src={{imageimage}} >
            </div>
        </div>
    </body>
</html>